h1 {
    text-align: center;
}

div.recipegallery {
    margin: 15px 75px;
}

div.recipe {
  margin: 15px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  height: 400px;
}

div.recipe:hover {
  border: 1px solid #777;
}

div.recipe img {
  width: 100%;
  height: auto;
}

div.title {
  padding: 15px;
  text-align: center;
}

