/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.22.6, 13:48:52
    Author     : santa
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Raleway&display=swap');

img {
    height: 300px;
    width: auto;
    margin: 20px;
    float: left;
}

div.main {
    background-color: #E0FFFF;
    height: 340px;
    width: 70%;
    margin: 0px 70px;
}

div.main p.h4 {
    padding-top: 30px;
    padding-right: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
}

p.user {
    font-family: 'Noto Sans JP', sans-serif;
}

div.in-row {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 20px;
}

div.a {
    display: inline;
    margin: 5px 20px 5px 0px;
    font-size: 18px;
}

div.description {
    font-family: 'Dancing Script', cursive;
}

div.preparation {
    width: 70%;
    margin: 40px 70px;
}

div.preparation pre{
    margin: 40px;
}

div.right {
    position: absolute;
    width: 250px;
    top: 80px;
    right: 70px;
    background-color: #8FBC8F;
    height: 700px;
}
div.right h5 {
    padding: 10px 20px;
}

#edit, #delete, #try {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 10px 40px;
  text-align: center;
  font-size: 16px;
  border-radius: 12px;
  margin: 4px auto;
  width: 100%;
  transition-duration: 0.4s;
}

#edit:hover {
  background-color: #2F4F4F;
  color: white;
}

#delete:hover {
  background-color: #DC143C;
  color: white;
}

#try:hover {
  background-color: #7FFFD4;
  color: black;
}

div.comments{
    width: 70%;
    margin: 40px 70px;
}

.comments textarea {
    height: 120px;
    width: 400px;
}

#createNew textarea {
    width: 200px;
    height: 100px;
}